body{
	font-family: 'Ubuntu', sans-serif;
font-family: 'Poppins', sans-serif;
}
h2{

color: #3f3f3f;

font-weight: 700;

font-size: 35px;

text-transform: uppercase;

letter-spacing: 2px;

margin-bottom: 20px;
}
.highlight{

color: #756aff;
}
.sub-text{
	
font-size: 16px;
	
padding: 0 15%;
	
margin-bottom: 180px;
}
header{
	padding: 40px 0;

background: url(../images/banner.png);

background-size: cover;

background-position: bottom right;

min-height: 120vh;
}
.navbar-brand{

}
.navbar-brand img{
	
width: 60%;
}
.navbar .nav-item .nav-link{color: #ccd1d8;text-transform: uppercase;margin-left: 10px;}
.navbar .nav-item .nav-link:hover{
	
color: #fff;
}
.navbar .nav-item.active .nav-link{
	color: #fff;
	
}
.navbar .nav-item:last-child .nav-link{

border: 1px solid #fff;

border-radius: 25px;

padding: 7px 20px;
transition: 0.4s linear;
}
.navbar .nav-item:last-child .nav-link:hover{
	
background: #fff;
	
color: #000;
border: 1px solid #fff;
}
header h1{

padding-right: 2%;

color: #fff;

text-transform: uppercase;

font-weight: 700;

font-family: "ubuntu",sans-serif;

margin-bottom: 30px;

font-size: 45px;

margin-top: 120px;
}
header p{

font-family: "poppins",sans-serif;

color: #fff;

font-size: 16px;

margin-bottom: 30px;
}
header .btn-cta{

background: #fff;

color: #756aff;

padding: 7px 20px;

border: 1px solid #fff;

border-radius: 25px;

font-weight: 600;

text-transform: uppercase;

margin-right: 20px;
transition: 0.2s linear;
}
header .btn-cta:hover{
	
background: transparent;
	
color: #fff;
	
border: 1px solid #fff;
}
header .btn-ghost{
	
border: 1px solid #fff;
	
padding: 7px 20px;
	
border-radius: 25px;
	
color: #fff;
	
font-weight: 700;
	
text-transform: uppercase;
transition: 0.2s linear;
}
header .btn-ghost:hover{
	
background: #fff;
	
color: #756aff;
	
border: 1px solid #fff;
}
.banner-img{

margin-top: 80px;
}
.service{

padding: 80px 0;
}
.service h2{

color: #3f3f3f;

font-weight: 700;

font-size: 35px;

text-transform: uppercase;

letter-spacing: 2px;

margin-bottom: 20px;
}

.service .sub-text{
	
font-size: 16px;
	
padding: 0 15%;
	
margin-bottom: 80px;
}
.icon{

margin-bottom: 20px;
}
.service h3{

font-weight: 700;

font-size: 22px;

text-transform: uppercase;

margin-bottom: 15px;
}
.service .para{

padding: 0 5%;

margin-bottom: 20px;
}
.service .read{

color: #756aff;
}
.about{

padding: 80px 0;

background: url(../images/midbanner.png);

background-position: top left;

background-size: cover;
}

.about p{

}

.about .btn-contact{
	margin-top: 30px;

background: #5b4efd;

color: #fff;

padding: 7px 20px;

border: 1px solid #fff;

border-radius: 25px;

font-weight: 600;

text-transform: uppercase;

margin-right: 20px;

transition: 0.2s linear;
}
.about .btn-contact:hover{
	background: #1f9dfd;
}
.projects{

background: url(../images/map.png);

padding: 80px 0;

background-size: cover;

background-position: center;
}
.projects .box{
	
margin-top: 60px;
	
padding: 20px;
transition: 0.4s linear;
}
.projects .box:hover{
	background: #f6fbff;
	border-radius: 3px;
	box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.03);
	
}
.projects .box h3{

color: #5b4efd;

font-size: 22px;

font-weight: 700;
}
.projects .box p{
	
}
.portfolio{
	padding: 80px 0;
}
.portfolio-box{

position: relative;
margin-bottom: 30px;
border-radius: 10px;
overflow: hidden;
}
.portfolio-box .hover-box{
	
background: linear-gradient(to right,rgba(96, 72, 254, 0.75),rgba(1, 198, 251, 0.75));
	
position: absolute;
	
top: 0;
	
left: 0;
	
width: 100%;
	
height: 0%;
opacity: 0;
transition: 0.4s linear;
}

.portfolio-box .hover-box ul{
	padding-left: 0;
	
position: absolute;
	
top: 50%;
	
left: 50%;
	
transform: translate(-50%, -50%);
}
.portfolio-box .hover-box ul li{
	
list-style: none;
	
display: inline-block;
	
margin:0 5px;
}
.portfolio-box .hover-box ul li img{
	
}
.portfolio-box .hover-box .filter-item{
	
position: absolute;
	
left: 20px;
	
bottom: 20px;
	
color: #fff;
	
text-transform: uppercase;
}
.portfolio-box:hover .hover-box{
	opacity: 1;
	height: 100%;
}
.apply{
	padding: 50px 0;
	background:linear-gradient(to right,rgba(96, 72, 254, 0.85),rgba(1, 198, 251, 0.85)), url('../images/formbackground.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
.apply h2{
	color: #fff;

}
.apply p{
color: #fff;
padding: 0 20%;
margin-bottom: 30px;
}
.apply form{

width: 70%;

margin: 0 auto;

margin-left: 19%;
}
.apply .form-control{
	
border: none;
	
padding: 23px 12px;
	
border-radius: 0;
	
border: 1px solid #fff;
	
border-radius: 30px;
	
margin-top: 1px;
}
.apply form .name{

width: 40%;

float: left;
}
.apply form .email{
	
width: 40%;
	
float: left;
	
margin-left: -6%;
	
border-left: 2px solid #ccc;
	
border-top-left-radius: 0;
	
border-bottom-left-radius: 0;
}
.apply form .btn-submit{
	
width: 20%;
	
float: left;
	
padding: 12px 25px;
	
border-radius: 30px;
	
color: #fff;
	
text-transform: uppercase;
	
margin-left: -7%;
	
background:linear-gradient(to right,rgba(96, 72, 254),rgba(1, 198, 251));
transition: 0.5s linear;
}
.apply form .btn-submit:hover{
	background:linear-gradient(to right ,rgba(1, 198, 251),rgba(96, 72, 254));

}
.review{
	padding: 80px 0;
	text-align: center;
}
.review-box{
	
box-shadow: 0 0 2px 2px rgba(0,0,0,0.05);
	
padding-bottom: 30px;
}
.review-box img{
	
}
.review-box .client{
	
margin-top: -36%;
	
margin-bottom: 20px;
}
.review-box h4{
	
color: #7b99fe;
	
text-transform: uppercase;
	
font-size: 20px;
	
font-weight: 600;
	
margin-bottom: 20px;
}
.review-box .star{
	
margin-bottom: 20px;
	
margin-left: -3px;
}
.review-box .social-nav{
	
padding-left: 0;
margin-bottom: 30px;
}
.review-box .social-nav li{
	
list-style: none;
	
display: inline-block;
	
margin: 0 5px;
}
.review-box .social-nav li a{
	
width: 30px;
	
height: 30px;
	
line-height: 30px;
	
background: #000;
	
color: #fff;
	
font-size: 18px;
	
display: inline-block;
	
border-radius: 3px;
}
.review-box .social-nav li a .fa{
	
}
.review-box p{
	
padding: 0 5px;
line-height: 1.6;
}
.contact{
	padding: 80px 0;

}
.contact .box{
	padding: 20px;
	background: #f6fbff;
	border-radius: 3px;
	box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.03);
	margin-bottom: 40px;

}
.contact .box img{
	margin-bottom: 20px

}
.contact form{

}
.contact form .form-control{
	
margin-bottom: 20px;
}
.contact form .btn-message{
	
background: linear-gradient(to right,rgba(96, 72, 254),rgba(1, 198, 251));
	
padding: 12px 25px;
	
border-radius: 30px;
	
color: #fff;
	
text-transform: uppercase;
	
font-weight: 600;
}
.contact form .btn-message:hover{
	background: linear-gradient(to right,rgba(1, 198, 251),rgba(96, 72, 254));
}

footer{
	background: linear-gradient(to right,rgba(96, 72, 254),rgba(1, 198, 251));
	padding: 20px 0;
}
footer p{

color: #fff;
}

footer .social-nav{

padding-left: 0;

float: right;
}
footer .social-nav li{

list-style: none;

display: inline-block;

margin-left: 20px;
}
footer .social-nav li a{

display: inline-block;

width: 30px;

height: 30px;

line-height: 30px;

background: #fff;

text-align: center;
}
